.bil-section{
      animation: 2.5s ease-out fadeIn;
          max-width: 90vw;
          margin: 0 auto;
}
.side-img-div{
          gap: 2%;
}
.hegnholtbil{
    display: grid;

    &__white{
        color: white;
    }
}
.hegnholtbil-div{
    margin: 0 auto;
    text-align: center;
}
.underdiv{
    text-align: center;
}
.bil-text{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 75vw;
 
    color: white;
    text-align: center;
    display: grid
;
    justify-self: center;
}